<nav class="navbar ">
    <div class="container">
        <div class="navbar-brand has-text-centered">
            <a class="pl-4" href="#">
                <img class="pt-8" src="{{ site.logo }}" height="25" width="70" >
            </a>
            <span class="navbar-burger burger" data-target="navbar-menu-hero-b">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div class="navbar-menu navbar-menu-hero-b">
            <div class="navbar-end pr-6">
                <a class="navbar-item">Company</a> 
                <a class=" navbar-item">Who are we</a>  
                <a class=" navbar-item">Contacts</a>
            </div>
        </div>
    </div>
</nav>