<section id="section-3" class="section is-medium">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-4 is-offset-2">
                <!--  -->
                <div class="feature-divider is-responsive-centered"></div> 
                <h2 class="title is-4 is-responsive-centered">
                    Elegant designs
                </h2>
                <p class="is-muted is-responsive-centered">
                    Nephos has been designed with care. Each UI element has been thought separatly.
                </p>

            </div>
            <div class="column is-6 has-text-centered is-centered-tablet-potrait">
                {% include projects-panel.html %}
            </div>
        </div>
        
    </div>
</section>