<section class="section is-medium" id="section-2">
	<div class="container">	
		<div class="title-wrapper has-text-centered">		
			<div class="title is-3 is-spaced">
				Jumpstart you projects
			</div>
			<div class="subtitle is-5 is-muted">And build powerful apps</div>
			<div class="content-wrapper">
				<div class="columns is-multiline has-text-centered">
					<div class="column">
						<div class="icon-box">
							<div class="icon-wrapper">
								<img src='{{ site.baseurl }}/assets/images/icons/monitor.svg'/>
							</div>
						</div>
						<div class="box-content">
							<div class="box-title">
								Premium UI
							</div>
							<div class="box-text">
								Carefully Handcrafted
							</div>
						</div>
					</div>
					<!--  -->
					<div class="column">
						<div class="icon-box">
							<div class="icon-wrapper">
								<img src='{{ site.baseurl }}/assets/images/icons/phone.svg'/>
							</div>
						</div>
						<div class="box-content">
							<div class="box-title">
								Ultra Responsive
							</div>
							<div class="box-text">
								Optimized for all devices
							</div>
						</div>
					</div>
					<!--  -->
					<div class="column">
						<div class="icon-box">
							<div class="icon-wrapper">
								<img src='{{ site.baseurl }}/assets/images/icons/clock.svg'/>
							</div>
						</div>
						<div class="box-content">
							<div class="box-title">
								Time Saving
							</div>
							<div class="box-text">
								Ready to build your app
							</div>
						</div>
					</div>
					<!--  -->
					<div class="column">
						<div class="icon-box">
							<div class="icon-wrapper">
								<img src='{{ site.baseurl }}/assets/images/icons/chart.svg'/>
							</div>
						</div>
						<div class="box-content">
							<div class="box-title">
								Ecommerce solutions
							</div>
							<div class="box-text">
								All you need for your store
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>		
	</div>
</section>