body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

body {
    color: #00000071;
    font-size: 1em;
}

.navbar-menu{
    background-color: #000000;
    
   
}

.navbar {
    border-bottom: 1px solid #ff6101;
    
}

a.navbar-item.is-active{
    background-color: #383838;
    background: none;
    border-right: 3px solid #ff6101;
    font-weight: bold;
}

.is-orange {
    color: orange;
}

.is-purple {
    color: purple;
}

.is-white {
    color: white;
}

.text-right {
    text-align: right;
}

.btn-banner {
    padding: 1.4rem;
    width: 10rem;
    background-color: transparent;
    border: 2px solid #ff6101;
}

.background{
    position: fixed;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.box-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}


.icon-box .icon-wrapper img {
    height: 100px;
    width: 100px;
}

.box-text {
    font-family: 'Raleway', sans-serif;
    font-size: .9rem;
    color: rgb(255, 255, 255);
}

#section-2{
    background-color: #000000;
}

.hero {
    background-color: #000000e0 !important;
    color: #ffffff;
}






/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

.scale-up-center {
	-webkit-animation: scale-up-center 2s ease-in-out 0.5s both;
	        animation: scale-up-center 2s ease-in-out 0.5s both;
}